{% load static %}
<html>
    <head>
        <title>GE Report</title>
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    </head>
    <body>
        <ul class="navbar">
            <li><a href="/ge/search/">GE Search</a></li>
            <li><a href="/ge/report/">GE Reports</a></li>
            <li><a href="/ge/add_fund">Add Fund</a></li>
            <li><a href="/qdb/report/">QDB Reports</a></li>
            <li><a href="/logs/">Logs</a></li>
            <li><a href="/release_notes/">Release Notes</a></li>
            <li><a href="/qdb/logout/">Logout</a></li>
        </ul>
        <br>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>