{% extends 'ge/base.html' %}

{% block content %}

{% if messages %}
<div class="box">
{% for message in messages %}
  <div>{{ message }}</div>
{% endfor %}
</div>
{% endif %}

<form id="edit_fund" method="post">
  {% csrf_token %}
  <table class="data-form">
    {{ form.as_table }}
  </table>
  <button type="submit" id="edit_submit">Save changes</button>
</form>

<form id="delete_fund" action="{% url 'delete_fund' form.instance.pk %}" method="post">
  {% csrf_token %}
  <button type="submit" id="delete_submit" onclick="return confirmDelete();">Delete this fund</button>
</form>
{% endblock %}