{% extends 'ge/base.html' %}

{% block content %}
<h3>Release Notes</h3>
<hr />

<h4>1.2.5</h4>
<p><i>January 8, 2026</i></p>
<ul>
    <li>Updated Django to 5.2.10 to patch security issues.</li>
</ul>

<h4>1.2.4</h4>
<p><i>October 17, 2025</i></p>
<ul>
    <li>Remove default exclusion of UL from receiving QDB reports.</li>
</ul>

<h4>1.2.3</h4>
<p><i>September 22, 2025</i></p>
<ul>
    <li>Updated Django to 5.2.6 and setuptools to 80.9.0.</li>
</ul>

<h4>1.2.2</h4>
<p><i>May 16, 2025</i></p>
<ul>
    <li>Updated Django to 5.2.1 and Python to 3.13.</li>
</ul>

<h4>1.2.1</h4>
<p><i>February 28, 2025</i></p>
<ul>
    <li>Updated Django to 4.2.19 to patch security issues.</li>
</ul>

<h4>1.2.0</h4>
<p><i>December 5, 2024</i></p>
<ul>
    <li>Added support for scheduling automatic runs of QDB reports.</li>
</ul>

<h4>1.1.6</h4>
<p><i>September 10, 2024</i></p>
<ul>
    <li>Removed sqlparse package from requirements.txt since it's installed by Django automatically.</li>
</ul>


<h4>1.1.5</h4>
<p><i>September 6, 2024</i></p>
<ul>
    <li>Updated Python to version 3.12 and Debian to version 12 (Bookworm).</li>
    <li>Updated Django and gunicorn packages to patch security issues.</li>
</ul>

<h4>1.1.4</h4>
<p><i>August 2, 2024</i></p>
<ul>
    <li>Added special handling of 432975-AD-19933 for FTVA in QDB reports.</li>
</ul>

<h4>1.1.3</h4>
<p><i>March 14, 2024</i></p>
<ul>
    <li>Upgraded Django from version 4.2.7 to 4.2.11.</li>
</ul>

<h4>1.1.2</h4>
<p><i>December 12, 2023</i></p>
<ul>
    <li>Added ability to create and delete fund records for GE reports.</li>
    <li>Added FTVA GE report.</li>
    <li>Fixed border formatting in GE reports Excel output.</li>
</ul>

<h4>1.1.1</h4>
<p><i>November 16, 2023</i></p>
<ul>
    <li>Upgraded Django from version 4.2.5 to 4.2.7.</li>
    <li>Cleaned up login and logout to be more consistent across GE and QDB apps.</li>
    <li>Moved release notes template to GE app, with neutral path (/release_notes/).</li>
    <li>Made favicon usage consistent across apps.</li>
</ul>

<h4>1.1.0</h4>
<p><i>November 9, 2023</i></p>
<ul>
    <li>Added Gifts & Expenditures (GE) reporting application.</li>
</ul>

<h4>1.0.7</h4>
<p><i>September 22, 2023</i></p>
<ul>
    <li>Added release notes with version information.</li>
    <li>Started QDB template refactoring.</li>
</ul>

<h4>1.0.6</h4>
<p><i>September 22, 2023</i></p>
<ul>
    <li>Fixed CSRF issues missed in Django upgrade.</li>
</ul>

<h4>1.0.5</h4>
<p><i>September 22, 2023</i></p>
<ul>
    <li>Upgraded Python, Django and supporting packages.</li>
    <li>Moved Django code up one directory level.</li>
</ul>

<h4>1.0.4</h4>
<p><i>June 9, 2023</i></p>
<ul>
    <li>Adjusted how external secrets annotations are defined.</li>
</ul>

<h4>1.0.3</h4>
<p><i>November 6, 2022</i></p>
<ul>
    <li>Upgraded build actions and added tagging.</li>
</ul>

<h4>1.0.2</h4>
<p><i>November 6, 2022</i></p>
<ul>
    <li>Fixed DEBUG handling.</li>
</ul>

<h4>1.0.1</h4>
<p><i>June 8, 2022</i></p>
<ul>
    <li>Initial Helm / Kubernetes configuration.</li>
</ul>


<h4>1.0.0</h4>
<p><i>April 2022</i></p>
<ul>
    <li>
        First production release.
    </li>
</ul>

{% endblock %}
