arrow==1.2.3
asgiref==3.8.1
Django==5.2.14
gunicorn==23.0.0
openpyxl==3.1.2
pandas==2.2.3
# Pin numpy to 2.3.5 for now, see DIGINF-262
numpy==2.3.5
psycopg==3.2.9
python-tds==1.17.1
pytz==2023.3.post1
whitenoise==6.5.0
# Used by pandas for Excel .xls support
xlrd==2.0.1
