arrow==1.2.3
asgiref==3.7.2
Django==4.2.11
gunicorn==21.2.0
openpyxl==3.1.2
pandas==2.1.1
# numpy version used by pandas must be < 2.0.0
numpy==1.26.4
psycopg2==2.9.7
python-tds==1.13.0
pytz==2023.3.post1
sqlparse==0.4.4
whitenoise==6.5.0
# Used by pandas for Excel .xls support
xlrd==2.0.1
