.not-visible {
    display: none;
}

a:link, a:visited {
    color: #007bff;
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

.search-results th, .search-results td {
    padding: 4px;
    border: 1px solid;
    vertical-align: top;
}

.data-form {
    border-collapse: collapse;
    border: none;
    vertical-align: top;
}

.data-form th {
    text-align: right;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0d0d7;
    border: 1px solid black;
    justify-content: unset;
}

.navbar li {
    float: left;
    border-right: 1px solid #bcbcc5;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
