{% extends 'base.html' %}

{% block content %}

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">QDB Reports</a></h1>
            <h1>|</h1>
            <h1 id="site-name"><a href="/ge/report/">GE Reports</a></h1>
        </div>
        <div id="user-tools">
            Welcome,
            <strong>{{request.user.username}}</strong>.
            <a href="/admin/">View admin page</a> /
            <a href="/qdb/logout/">Log out</a>
        </div>
    </div>

    <!-- Body -->
    <div id="alert-box"></div>
    <div class="main shifted" id="main">
        <div class="content">

            <!-- spinner -->
            <div id="spinner-box" class="text-center mt-3 not-visible">
                <div class="spinner-border text-info" role="status">
                    <span class="not-visible">Loading...</span>
                </div>
            </div>
            <!-- All units message -->
            <div id="long-box" class="text-center mt-3 not-visible">
                <div class="text-info" role="status">
                    <span>Creating reports for all units: please allow up to 5 minutes for completion.</span>
                </div>
            </div>
            <!-- ajax error messsage -->
            <div id="ajax-box"></div>

            <!-- content -->
            <div id="content" class="colMS">
                <h1>QDB report submission form</h1>
                <div id="content-main">
                    <div class="app-auth module">
                        <form id="p-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" id="report_submit" >Submit</button>
                        </form>
                    </div>
                </div>
                <br class="clear">
            </div>
            <!-- END Content -->

            <div id="footer"></div>
        </div>
    </div>
</div>
<!-- END Container -->

{% endblock %}