{% extends 'base.html' %}

{% block content %}
<h3>Release Notes</h3>
<hr/>

<h4>1.1.0</h4>
<p><i>November 9, 2023</i></p>
<ul>
    <li>Added Gifts & Expenditures (GE) reporting application.</li>
</ul>

<h4>1.0.7</h4>
<p><i>September 22, 2023</i></p>
<ul>
    <li>Added release notes with version information.</li>
    <li>Started QDB template refactoring.</li>
</ul>

<h4>1.0.6</h4>
<p><i>September 22, 2023</i></p>
<ul>
    <li>Fixed CSRF issues missed in Django upgrade.</li>
</ul>

<h4>1.0.5</h4>
<p><i>September 22, 2023</i></p>
<ul>
    <li>Upgraded Python, Django and supporting packages.</li>
    <li>Moved Django code up one directory level.</li>
</ul>

<h4>1.0.4</h4>
<p><i>June 9, 2023</i></p>
<ul>
    <li>Adjusted how external secrets annotations are defined.</li>
</ul>

<h4>1.0.3</h4>
<p><i>November 6, 2022</i></p>
<ul>
    <li>Upgraded build actions and added tagging.</li>
</ul>

<h4>1.0.2</h4>
<p><i>November 6, 2022</i></p>
<ul>
    <li>Fixed DEBUG handling.</li>
</ul>

<h4>1.0.1</h4>
<p><i>June 8, 2022</i></p>
<ul>
    <li>Initial Helm / Kubernetes configuration.</li>
</ul>


<h4>1.0.0</h4>
<p><i>April 2022</i></p>
<ul>
    <li>
        First production release.
    </li>
</ul>

{% endblock %}