<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBS QDB Reports</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>QDB Reports</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit">submit</button>
        </form>
    {% else %}
        <a href="/login">Please login first</a>
    {% endif %}
</body>
</html>